<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;

      }
    </style>
    <h1>Cuentas</h1>
    <template is ="dom-repeat" items="{{accounts}}">
      <span>IBAN: [[item.IBAN]] </span> <!--Similar a for of-->
      <span>Saldo: [[item.Balance]]</span>
      <br />
    </template>
    <iron-ajax auto
      id="getAccount"
      url="http://localhost:3000/apitechu/v2/users/accounts/{{id}}"
      handle-as="json"
      on-response="showData"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          userId: {
            type: Number
          },accounts: {
              type: Array
          }
        };
      }

      showData(data){
        console.log("showData");
        console.log(data.detail.response);
        this.accounts = data.detail.response;
      }
    }

    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
